body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root, root > div {
  width: 100%;
  height: 100%;
}

main, section, div {
  display: flex;
  flex-direction: row;
}

footer, header, form {
  display: flex;
  flex-direction: column;
}